@model Book
<!--can display books 1 by 1-->
<tr>
    <td>@Model.Title</td>
    <td>@(Model.AuthorFirstName + " " + Model.AuthorMiddleInitial + " " + Model.AuthorLastName)</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification</td>
    <td>@Model.Category</td>
    <td>$@Model.Price</td>
    <td>@Model.NumberPages</td>
    <td>
        <form id="Model.BookId" asp-page="/Donate" method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" /> 
            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                Add
            </button>
        </form>
    </td>
</tr>


